@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  /* colors */
  --color-primary-50: #ffebf6;
  --color-primary-100: #ffdbf0;
  --color-primary-200: #ffb8e0;
  --color-primary-300: #ff8fce;
  --color-primary-400: #ff6bbf;
  --color-primary-500: #ff48b0;
  --color-primary-600: #ff0493;
  --color-primary-700: #c2006e;
  --color-primary-800: #84014b;
  --color-primary-900: #420026;
  --color-primary-950: #1f0011;

  --color-neutral-50: #f0f0f0;
  --color-neutral-100: #e4e4e4;
  --color-neutral-200: #cbcbcb;
  --color-neutral-300: #b1b1b1;
  --color-neutral-400: #9d9d9d;
  --color-neutral-500: #8e8e8e;
  --color-neutral-600: #808080;
  --color-neutral-700: #606060;
  --color-neutral-800: #414141;
  --color-neutral-900: #1f1f1f;
  --color-neutral-950: #0e0e0e;

  --color-accent: oklch(65% 0.25 160);
  --color-info: oklch(70% 0.2 220);
  --color-success: oklch(65% 0.25 140);
  --color-warning: oklch(80% 0.25 80);
  --color-error: oklch(65% 0.3 30);

  /* border width */
  --border-0: 0px;
  --border: 1px;
  --border-2: 2px;
  --border-4: 4px;
  --border-8: 8px;

  /* border radius */
  --rounded-none: 0px;
  --rounded-xs: 2px;
  --rounded-s: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;

  /* spaceing */
  --spaceing-px: 1px;
  --spaceing-0-5: 0px;
  --spaceing-1: 4px;
  --spaceing-1-5: 6px;
  --spaceing-2: 8px;
  --spaceing-2-5: 10px;
  --spaceing-3: 12px;
  --spaceing-3-5: 14px;
  --spaceing-4: 16px;
  --spaceing-5: 20px;
  --spaceing-6: 24px;
  --spaceing-7: 28px;
  --spaceing-8: 32px;
  --spaceing-9: 36px;
  --spaceing-10: 40px;
  --spaceing-11: 44px;
  --spaceing-12: 48px;
  --spaceing-14: 56px;
  --spaceing-16: 64px;
  --spaceing-20: 80px;
  --spaceing-24: 96px;
  --spaceing-28: 112px;
  --spaceing-32: 128px;
  --spaceing-36: 144px;
  --spaceing-40: 160px;
  --spaceing-44: 176px;
  --spaceing-48: 192px;
  --spaceing-52: 208px;
  --spaceing-56: 224px;
  --spaceing-60: 240px;
  --spaceing-64: 256px;
  --spaceing-72: 288px;
  --spaceing-80: 320px;
  --spaceing-96: 384px;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

  /* shadows */
  /* [horizontal offset] [vertical offset] [blur-radius] [spread-radius] [color] */
  --shadow-drop-25: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-drop-50: 0 4px 4px rgba(0, 0, 0, 0.5);
  --shadow-inner-25: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-inner-50: inset 0 4px 4px rgba(0, 0, 0, 0.5);

  /* background blur + opacity */
  --background-blur-55: blur(6px) opacity(0.55);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  /* Fonts */
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .font-loos {
    font-family: "loos-extrawide", sans-serif;
  }
  .font-lora {
    font-family: "Lora", serif;
  }
}

@layer utilities {
}
