---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant="tekstlink", 
size="default" } =Astro.props; 

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const linkStyling="underline"; 

//Definer den styling, der gør sig gældende for de forskellige varianter
const variantClasses= {
    "header":"font-montserrat font-bold",
    "body":"font-lora",
};

//Definer den styling, der gør sig gældende for de forskelligeog størrelser.
const sizeClasses= {
    "large-bold":"text-4xl",
    "medium-bold":"text-3xl",
    "small-bold":"text-2xl",
    
    "xtra-large-regular":"text-2xl",
    "large-regular":"text-xl",
    "medium-regular":"text-lg",
    "small-regular":"text-base",
    "xtra-small-regular":"text-sm",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}>
    <slot/>
</a>

