---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
---
<MainLayout title="Titel">
<Hero>
<span slot="image"><img src="/about_hero.webp" alt=""></span>

</Hero> 
</MainLayout>