---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/typography/Heading.astro";
import Bodytext from "../components/typography/Bodytext.astro";
import Link from "../components/typography/Link.astro";
---

<MainLayout title="contact">

<!-- start contact -->
<Heading size="medium" stylingclasses="md:text-5xl items-start mb-5 md:mb-10">Contact Information - Lost Farm Crew</Heading>
<section id="transport" class="flex flex-col md:flex-row gap-8 items-start">
    <div class="md:w-1/2">
    </div>
    <div class="w-full md:w-1/2 flex flex-col items-center mb-10 md:mb-20">
        
            <ul class="text-primary-50">
                <li>
                    <Bodytext size="small-regular" stylingclasses="md:text-xl w-full">Steen Andersen, Co-founder & Festival Manager – </Bodytext>
                    <Link size="small-regular-footer" stylingclasses="md:text-xl w-full" href="mailto:steen@lostfarm.org">steen@lostfarm.org</Link>
                </li>
                <li>
                    <Bodytext size="small-regular" stylingclasses="md:text-xl w-full">Jude (farmer) Bennett</Bodytext>, Co-founder & Program Lead – 
                    <Link size="small-regular-footer" stylingclasses="md:text-xl w-full" href="mailto:jude@lostfarm.org">jude@lostfarm.org</Link>
                </li>
                <li>
                    <Bodytext size="small-regular" stylingclasses="md:text-xl w-full">Pauline Hoch</Bodytext>, Press & Partnerships – 
                    <Link size="small-regular-footer" stylingclasses="md:text-xl w-full" href="mailto:pauline@lostfarm.org">pauline@lostfarm.org</Link>
                </li>
                <li>
                    <Bodytext size="small-regular" stylingclasses="md:text-xl w-full">Sophia Rasmussen</Bodytext>, Funding – 
                    <Link size="small-regular-footer" stylingclasses="md:text-xl w-full" href="mailto:sophia@lostfarm.org">sophia@lostfarm.org</Link>
                </li>
                <li>
                    <Bodytext size="small-regular" stylingclasses="md:text-xl w-full">Petter Brandberg</Bodytext>, Build Lead – 
                    <Link size="small-regular-footer" stylingclasses="md:text-xl w-full" href="mailto:petter@lostfarm.org">petter@lostfarm.org</Link>
                </li>
            </ul>
        
     
    </div>
</section>
<!-- slut contact -->
</MainLayout>