---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Heading from "../components/typography/Heading.astro";
import Bodytext from "../components/typography/Bodytext.astro";
import Display from "../components/typography/Display.astro";
---
<MainLayout title="Forside">

<!-- Hero --> 
<Display htmldisplay="h2" size="display-mobile" stylingclasses="mb-8 md:text-8xl text-primary-500" >Art - Music - Talks & Performances</Display>
  <div style="display: flex; justify-content: flex-end">
    <img src="/sted-icon.svg" alt="sted" class="w-6 h-6 mb-4" />
    <Bodytext htmlheading="p" size="small-bold">Sjællands Odde Denmark</Bodytext>
  </div>
  <div class="w-screen -mx-[50vw] left-1/2 relative mb-10 md:mb-20">
    <img src="hero-forside.webp" alt="hero image med blomster" class="h-[200px] md:h-[240px] w-full object-cover" />
  </div>
  <div class="text-primary-50">
    <Display size="display-mobile" stylingclasses="text-primary-50 mb-8 md:text-8xl flex justify-center" >08.08 - 10.08</Display>
  </div>
  <div class="mb-8 flex justify-center" >
    <Button variant="outline-primary" size="mobile-regular md:desktop-regular" class="w-full md:w-1/2">Explore Program</Button>
  </div>
<!-- Hero sult --> 

<!-- start what is Lost Farm Festival -->
<Heading size="medium" stylingclasses="md:text-5xl lg:text-5xl text-primary-50 mb-5 md:mb-10">What is Lost Farm Festival</Heading>

<section id="transport" class="flex flex-col md:flex-row gap-8 items-start mb-28">
  <div class="w-full md:w-1/2">
      <img src="../placeholder.png" alt="placeholder billede" class="w-full h-auto" />
  </div>
  <div class="w-full md:w-1/2 flex flex-col items-center mb-10 md:mb-20">
      <Bodytext size="small-regular" class="md:text-xl lg:text-xl text-primary-500">
        Lost Farm Festival is a three-day journey through art, music, and performance on the wild edge of Sjællands Odde.<br><br>
        Artists are invited to experiment and create moments that can’t happen anywhere else. With the landscape, community, and artistic risk at the forefront.<br><br>
        This is not Copenhagen or Aarhus—this is the cultural edge, Sjællands odde.
      </Bodytext>

       <div title="2cols-knapper" class="w-full flex flex-col md:flex-row gap-4 md:mt-10 mt-5 md:mb-20 mb-10">
          <Button variant="filled-primary" size="mobile-regular md:desktop-regular" class="w-full md:w-1/2">Buy Ticket</Button>
          <Button variant="outline-primary" size="mobile-regular md:desktop-regular" class="w-full md:w-1/2">Explore Program</Button>
      </div>
  </div>
</section>
<!-- slut what is Lost Farm Festival -->
</MainLayout>