---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Heading from "../components/typography/Heading.astro";
import Bodytext from "../components/typography/Bodytext.astro";
import Display from "../components/typography/Display.astro";
import Text from "../components/Text.astro";

---
<MainLayout title="Forside">

<!-- Hero --> 
<Display htmldisplay="h2" size="display-mobile" stylingclasses="mb-8 md:text-8xl" >Art - Music - Talks & Performances</Display>

<div style="display: flex; justify-content: flex-end">
  <img src="/sted-icon.svg" alt="sted" class="w-6 h-6 mb-4" />
  <Bodytext htmlheading="p" size="small-bold">Sjællands Odde Denmark</Bodytext>
</div>

<div class="w-screen -mx-[50vw] left-1/2 relative mb-10 md:mb-20">
  <img src="hero-forside.webp" alt="hero image med blomster" class="h-[200px] md:h-[240px] w-full object-cover" />
</div>
<div class="text-primary-50">
<Display htmldisplay="h2" size="display-mobile" stylingclasses="mb-8 md:text-8xl flex justify-center" >08.08 - 10.08</Display>
</div>

<div class="mb-8 flex justify-center" >
<Button variant="outline-primary" size="mobile-regular md:desktop-regular" class="w-full md:w-1/2">Explore Program</Button>
</div>

<!-- Hero sult --> 

<Heading htmlheading="h5" size="medium" stylingclasses="md:text-1xl" >What is Lost Farm Festival</Heading>
<Text
image="image:/artist1.png, alt='indsæt dit billede"
bodytext="Lost Farm Festival is a three-day journey through art, music, and performance on the wild edge of Sjællands Odde.Artists are invited to experiment and create moments that can’t happen anywhere else. With the landscape, community, and artistic risk at the forefront.This is not Copenhagen or Aarhus—this is the cultural edge, Sjællands odde." 
btn_filled_text= "Buy Ticket"
btn_outline_text="Explore Program" 

/>


</MainLayout>