---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Heading from "../components/typography/Heading.astro";
import Display from "../components/typography/Display.astro";
import Bodytext from "../components/typography/Bodytext.astro";
import Link from "../components/typography/Link.astro";
import Badge from "../components/Badge.astro";
---
<MainLayout title="Komponentbibliotek" class="bg-neutral-50">

    <!-- start på buttons -->
    <section class="px-10">
    <Heading htmlheading="h2" size="large" stylingclasses="m-sectionheading">Buttons</Heading>
    <div class="flex flex-wrap gap-6 mb-10">
        <div class="flex flex-col gap-4">
            <Button variant="filled-primary" size="desktop-regular">Filled primary desktop</Button>
            <Button variant="outline-primary" size="desktop-regular">Outline primary desktop</Button>
            <Button variant="filled-secondary" size="desktop-regular">Filled secondary desktop</Button>
            <Button variant="outline-secondary" size="desktop-regular">Outline secondary desktop</Button>
        </div>
        <div class="flex flex-col gap-4">
            <Button variant="filled-primary" size="mobile-small">Filled primary mobile</Button>
            <Button variant="outline-primary" size="mobile-small">Outline primary mobile</Button>
            <Button variant="filled-secondary" size="mobile-small">Filled secondary mobile</Button>
            <Button variant="outline-secondary" size="mobile-small">Outline secondary mobile</Button>
        </div>
        <div class="flex flex-col gap-4 justify-end">
            <Button variant="plus" size="desktop-counter">+</Button>
            <Button variant="minus" size="desktop-counter">-</Button>
        </div>
    </div>
    <hr class="mt-20 border-accent">
    </section>
    <!-- slut på buttons -->

    <!-- start på badge -->
    <section class="container mx-auto m-sectiontop px-4">
    <Heading htmlheading="h2" size="large" stylingclasses="m-sectionheading">Badge</Heading>
        <p><Badge variant="music" size="desktop-regular">Music badge</Badge></p>
        <p><Badge variant="art" size="desktop-regular">Art badge</Badge></p>
        <p><Badge variant="talks" size="desktop-regular">Talks badge</Badge></p>
        <p><Badge variant="event" size="desktop-regular">Event badge</Badge></p>
        <hr class="mt-20 border-accent">
    </section>
    <!-- start på badge -->

    
    <!-- start på link -->
    <section class="container mx-auto m-sectiontop px-4">
    <Heading htmlheading="h2" size="large" stylingclasses="m-sectionheading">Links</Heading>
        <p><Link>Default link</Link>er en del af tekst, og burde gerne fungere som et <Link>link</Link>i teksten</p>
        <p><Link href="#" variant="header" size="large-bold">Variant Large bold link</Link></p>
        <p><Link href="#" variant="header" size="medium-bold">Variant Medium bold link</Link></p>
        <p><Link href="#"variant="header" size="small-bold">Variant Small bold link</Link></p>
        <p><Link href="#" variant="body" size="xtra-large-regular">Variant Xtra large regular</Link></p>
        <p><Link href="#" variant="body" size="large-regular">Variant Large regular</Link></p>
        <p><Link href="#"variant="body" size="medium-regular">Variant Medium regular</Link></p>
        <p><Link href="#" variant="body" size="small-regular">Variant Small regular</Link></p>
        <p><Link href="#"variant="body" size="xtra-small-regular">Variant Xtra small regular</Link></p>
        <hr class="mt-20 border-accent">
    </section>
    <!-- slut på link -->
    
    <!-- start på typografi -->
    <section class="container mx-auto m-sectiontop px-4">
    <Heading htmlheading="h2" size="large" stylingclasses="m-sectionheading">Typografi</Heading>
    
    <Display htmldisplay="h1" size="display-web">Display web</Display>
    <Display htmldisplay="h2" size="display-mobile">Display mobile</Display>
    <br>
    <Heading htmlheading="h3" size="xtra-large">h1 xtra large</Heading>
    <Heading htmlheading="h4" size="large">h2 large</Heading>
    <Heading htmlheading="h5" size="medium">h3 medium</Heading>
    <Heading htmlheading="h6" size="small">h4 small</Heading>
    <Heading htmlheading="h7" size="xtra-small">h5 xtra small</Heading><br>
    <Heading htmlheading="h8" size="xtra-xtra-small">h6 xtra xtra small</Heading>
    <br><br>
    <Bodytext htmlheading="p" size="xtra-large-bold">Body text xtra large bold</Bodytext>
    <Bodytext htmlheading="p" size="xtra-large-regular">Body text xtra large regular</Bodytext>
    <Bodytext htmlheading="p" size="large-bold">Body text large bold</Bodytext>
    <Bodytext htmlheading="p" size="large-regular">Body text large regular</Bodytext>
    <Bodytext htmlheading="p" size="medium-bold">Body text medium bold</Bodytext>
    <Bodytext htmlheading="p" size="medium-regular">Body text medium regular</Bodytext>
    <Bodytext htmlheading="p" size="small-bold">Body text small bold</Bodytext>
    <Bodytext htmlheading="p" size="small-regular">Body text small regular</Bodytext>
    <Bodytext htmlheading="p" size="xtra-small-bold">Body text xtra small bold</Bodytext>
    <Bodytext htmlheading="p" size="xtra-small-regular">Body text xtra small regular</Bodytext>

    <hr class="mt-20 border-accent">
    </section>
    <!-- slut på typografi -->
    
    <!-- start på card -->
    <section class="container mx-auto m-sectiontop px-4">
    <Heading htmlheading="h2" size="large" stylingclasses="m-sectionheading">Cards</Heading>

    <hr class="mt-20 border-accent">
    </section>
    <!-- slut på card -->
     </MainLayout>
    
    