---
import MainLayout from "../layouts/MainLayout.astro"
import Hero from "../components/Hero.astro"
import Faq from "../components/Faq.astro"
---

<MainLayout title="Program">
    <section  class="bg-primary-900">
    <Hero>
    <img slot="image" src="/hero-program.webp" alt="solnedgang" class="w-full"  />
    <div slot="display">Festival Program</div> <!-- Program på amerikansk -->
    </Hero>
  


</section>
</MainLayout>
