---
import MainLayout from "../layouts/MainLayout.astro"
import Hero from "../components/Hero.astro"
---

<MainLayout title="Program">
    <Hero>
    <img slot="image" src="/hero-program.webp" alt="solnedgang"  />
    <span slot="display">Program</span> <!-- Program på amerikansk -->
    </Hero>

</MainLayout>
