---
// Henter parametrene fra Astro.props
const { variant = "primary", size = "medium" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const buttonStyling = "px-10 py-[var(--spaceing-2-5)] font-bold font-montserrat cursor-pointer"; 

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
    "filled-primary": "bg-[var(--color-primary-600)] text-[var(--color-primary-950)] hover:bg-[var(--color-primary-50)] focus:bg-[var(--color-primary-600)] focus:shadow-[var(--shadow-drop-25)] active:shadow-[var(--shadow-drop-50)] disabled:bg-[var(--color-primary-50)] disabled:cursor-not-allowed",
    "outline-primary": "border border-[var(--color-primary-600)] text-[var(--color-primary-600)] hover:bg-[var(--color-primary-50)] hover:shadow-[var(--shadow-drop-25)] focus:shadow-[var(--shadow-drop-50)] active:shadow-[var(--shadow-drop-25)] disabled:border-[var(--color-primary-100)] disabled:cursor-not-allowed",
    "filled-secondary": "bg-[var(--color-primary-950)] text-[var(--color-primary-600)] hover:bg-[var(--color-primary-900)] focus:bg-[var(--color-primary-900)] focus:shadow-[var(--shadow-drop-25)] active:shadow-[var(--shadow-drop-50)] active:bg-[var(--color-primary-950)] disabled:bg-[var(--color-primary-950)] disabled:text-[var(--color-primary-800)] disabled:cursor-not-allowed",
    "outline-secondary": "border border-[var(--color-primary-950)] text-[var(--color-primary-950)] hover:bg-[var(--color-primary-800)] hover:shadow-[var(--shadow-drop-25)] focus:shadow-[var(--shadow-drop-50)] focus:bg-[var(--color-primary-50)] active:shadow-[var(--shadow-drop-25)] disabled:border-[var(--color-primary-800)] disabled:cursor-not-allowed",
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
"desktop-regular": "text-xl w-auto",
"mobile-small": "text-heading_s w-auto",
};
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>