---
import Heading from "./typography/Heading.astro"
import Bodytext from "./typography/Bodytext.astro"
---
<section aria-label="FAQ" class="">
    <Heading size="medium" stylingclasses="font-semibold md:text-5xl lg:text-5xl text-primary-50 md:mb-5 mb-2">Frequently Asked Questions</Heading>
</section>

<section class="divide-y border-t border-b border-gray-300 text-primary-50">
  <!-- spørgsmål 1 -->
  <div class="collapse collapse-arrow">
    <input type="radio" name="faq-accordion" />
     <Heading htmlheading="h3" size="small" stylingclasses="md:text-3xl collapse-title after:text-primary-700"> Is there camping available? </Heading>
    <Bodytext htmlBodytext="p" size="small" stylingclasses="collapse-content md:text-lg leading-relaxed md:w-[686px]">
      Yes, camping is available at the festival. There are designated camping areas with facilities for tents and campers. Please check our website for details on booking and camping guidelines.
    </Bodytext>
  </div>

    <!-- spørgsmål 2 -->
  <div class="collapse collapse-arrow">
    <input type="radio" name="faq-accordion" />
     <Heading htmlheading="h3" size="small" stylingclasses="md:text-3xl collapse-title after:text-primary-700"> What food and drink options are available?</Heading>
    <Bodytext htmlBodytext="p" size="small" stylingclasses="collapse-content md:text-lg leading-relaxed md:w-[686px]">
      Yes, camping is available at the festival. There are designated camping areas with facilities for tents and campers. Please check our website for details on booking and camping guidelines.
    </Bodytext>
  </div>

      <!-- spørgsmål 3 -->
  <div class="collapse collapse-arrow">
    <input type="radio" name="faq-accordion" />
     <Heading htmlheading="h3" size="small" stylingclasses="md:text-3xl collapse-title after:text-primary-700"> What kind of toilet facilities are available?    </Heading>
    <Bodytext htmlBodytext="p" size="small" stylingclasses="collapse-content md:text-lg leading-relaxed md:w-[686px]">
      Clean and accessible toilet facilities, including accessible toilets for people with disabilities, are available throughout the festival area.
    </Bodytext>
  </div>

      <!-- spørgsmål 4 -->
  <div class="collapse collapse-arrow">
    <input type="radio" name="faq-accordion" />
     <Heading htmlheading="h3" size="small" stylingclasses="md:text-3xl collapse-title after:text-primary-700"> Can I Park at the festival?   </Heading>
    <Bodytext htmlBodytext="p" size="small" stylingclasses="collapse-content md:text-lg leading-relaxed md:w-[686px]">
      Yes, there is parking available near the festival grounds. Please follow the signs and instructions from staff for designated parking areas.
    </Bodytext>
  </div>

      <!-- spørgsmål 5 -->
  <div class="collapse collapse-arrow">
    <input type="radio" name="faq-accordion" />
    <Heading htmlheading="h3" size="small" stylingclasses="md:text-3xl collapse-title after:text-primary-700"> Can I volunteer at the festival?</Heading>
    <Bodytext htmlBodytext="p" size="small" stylingclasses="collapse-content md:text-lg leading-relaxed md:w-[686px]">
      Yes, we welcome volunteers! Pleaseread more information on how to sign up and the benefits of volunteering at the festival.
    </Bodytext>
  </div>
</section>









