---
import Heading from "../components/typography/Heading.astro";
import Bodytext from "../components/typography/Bodytext.astro";
import Link from "../components/typography/Link.astro";
---
<footer class="footer sm:footer-horizontal border-base-300 border-t text-base-content p-10">
    <nav>
      <Heading size="small">Contact</Heading>
      <Bodytext size="medium-regular">Generel:<a href= "mailto:info@lostfarm.org"> info@lostfarm.org</a></Bodytext>
      <Bodytext size="medium-regular">Press:<a href= "mailto:press@lostfarm.org"> press@lostfarm.org</a></Bodytext>     
      <p><Link href="/contact" variant="body" size="medium-regular">More information</Link></p>
    </nav>
    <nav>
      <Heading size="small">Don’t get lost</Heading>
      <Bodytext size="medium-regular">Oddenvej 243</Bodytext>
      <Bodytext size="medium-regular">DK-4583 Sjællands Odde</Bodytext>
    </nav>
    <nav class="text-primary-600">
      <Heading size="small">Info</Heading>
      <p><Link href="/practical" variant="body" size="medium-regular">Frequently asked questions</Link></p>
      <p><Link href="/about" variant="body" size="medium-regular">Meet the people behind</Link></p>
      <Bodytext size="medium-regular">CVR: 44219778</Bodytext>
    </nav>
</footer>
<footer class="footer text-base-content px-10 py-4">
  <nav class="w-full md:flex md:justify-center">
    <Bodytext htmlheading="p" size="medium-regular" class="text-center md:max-w-2xl">
      Lost Farm Festival is a non-profit led by local creatives, supporting sustainable art and culture initiatives. Profits fund local projects.
    </Bodytext>
  </nav>

  <nav class="w-full flex flex-col md:flex-row md:justify-between md:items-center md:gap-0 md:mt-4">
    <Bodytext htmlheading="p" size="medium-regular" class="md:order-1" stylingclasses="text-primary-600">© Lost Farm 2025</Bodytext>
    <div class="grid grid-flow-col gap-4 md:order-2 md:ml-auto">
      <p><Link href="/contact" variant="body" size="medium-regular-pink">Pixelfed</Link></p>
      <p><Link href="/practical" variant="body" size="medium-regular-pink">Facebook</Link></p>
      <p><Link href="/about" variant="body" size="medium-regular-pink">Instagram</Link></p>
    </div>
  </nav>
</footer>