---
import tailwindcss from "@tailwindcss/vite"
import Display from "./typography/Display.astro"
import Bodytext from "./typography/Bodytext.astro"
---

<!-- Hero niveau 2 -->
<section title="Hero-niveau-2">
<!-- Image -->
   <div class="p-0 w-screen max-w-none !ml-0 flex flex-col mb-8">
  <slot name="image" />
</div>

<!-- tekst -->
    <div class="flex flex-col gap-5 mb-8">
    <!-- Display Overskrift -->
        <Display size="display-mobile" stylingclasses="md:text-8xl lg:text-8xl text-primary-500">
            <slot name="display" />
        </Display>

    <!-- Bodytext aligned right -->
    <div class="flex flex-col md:flex-row md:justify-end md:gap-8">
        <div class="md:w-1/2"></div>
        <div class="md:w-1/2 md:ml-20">
            <Bodytext size="small-regular" class="md:text-2xl lg:text-2xl text-primary-500 mt-10">
                <slot name="bodytext" />
            </Bodytext>
        </div>
    </div>
</section>