---
// Props til fleksibilitet
const {
  title = "Titel",
  description = "Indhold",
  price = "X DKK",
  buttonText = "Buy Ticket",
} = Astro.props;

import Button from "./Button.astro";
import Heading from "./typography/Heading.astro";
import Bodytext from "./typography/Bodytext.astro";
---

<div class="p-6 md:max-w-[600px] md:w-[600px]  bg-neutral-50/50 text-primary-500">
  <Heading htmlheading="h3" size="small" stylingclasses="md:text-3xl">
    {title}
  </Heading>

  <Bodytext htmlBodytext="p" size="small" stylingclasses="md:text-lg md:w-[550px] mt-4">
    {description}
  </Bodytext>  

  <Bodytext htmlBodytext="p" size="small" stylingclasses="md:text-lg md:w-[550px] mt-4">
    {price}
  </Bodytext>  

  <div class="mt-4">
    <Button variant="filled-primary" size="mobile-regular md:desktop-regular">
      {buttonText}
    </Button>
  </div>
  <slot />
</div>
