---
import Display from "../typography/Display.astro";
import Bodytext from "../typography/Bodytext.astro";
---
<section class="md:pl-6 md:px-10 mb-10 md:mb-28">
  <Display size="display-mobile" stylingclasses="text-pink-600 md:text-8xl font-bold mb-5 md:mb-10">We Look Forward to Seeing You!</Display>
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-28"> 
    <Bodytext size="medium-regular" stylingclasses="md:text-xl col-start-2">
      Your ticket has been confirmed. We're excited to welcome you to an unforgettable experience filled with art, music, and performances.<br><br>
      To make the most of your time, feel free to explore more about the festival, including event schedules, travel tips, and everything you need to know. We can't wait to see you there and share this amazing journey with you!
    </Bodytext>
  </div>
</section>
